@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Corben:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*General*/
body {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
}

hr {
  width: 6%;
  border-top: none;
  border-bottom: 5px dotted #1D7874;
}

/*Page hero*/
#hero {
  padding-top: 3%;
  padding-left: 5%;
  text-align: center;
  filter: drop-shadow(4px 0px 20px rgba(0, 0, 0, 0.247));
  animation: arrival 0.3s ease-in;
}

#hero h1 {
  font-family: "Corben";
  font-weight: 900;
  font-size: 4.5rem;
  color: #1D7874;
  margin-left: -15%;
}

#hero p {
  margin-top: 2%;
  margin-left: 41%;
  color: #E2C044;
  opacity: 0.7;
}

#hero #b8a77818-6ab0-46b3-bde5-d559b2498a42 {
  width: 40%;
  margin-top: -10%;
}

/*Profile section*/
.profile {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgba(226, 192, 68, 0.1);
}

.profile h2 {
  margin-top: 5%;
  font-size: 3rem;
  color: #E2C044;
}

.profile p {
  opacity: 0.8;
  margin-top: 1%;
}

.profile #a02f2390-8fa7-48a9-96f1-2ec5f63ecbc1 {
  width: 15%;
  margin-top: -15%;
}

.profile hr {
  margin-top: -15%;
  margin-bottom: 5%;
}

/*Skills*/
.skills {
  width: 90%;
  margin: auto;
}

.skills h2 {
  margin-top: 5%;
  text-align: center;
  font-size: 3rem;
  color: #1D7874;
}

.skills svg {
  width: 100px;
  height: 100px;
}

.skills h3 {
  margin-top: 5%;
  text-align: center;
  font-size: 2rem;
  color: #503047;
}

/*KOntakt*/
.contact-me {
  background-color: #1D7874;
  color: #BDEDE0;
  text-align: center;
}

.contact-me h2 {
  margin-top: 5%;
  padding-top: 5%;
  text-align: center;
  font-size: 2rem;
  color: white;
}

.contact-me h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  color: white;
}

.contact-me h3, .contact-me p {
  width: 50%;
  margin: auto;
  padding-top: 1%;
}

.contact-me a {
  color: #EF959D;
  margin-bottom: 5%;
}

.contact-me a:hover {
  color: #BDEDE0;
  text-decoration: underline;
  text-decoration-color: #EF959D;
}

/*Bottom*/
.bottom-container {
  width: 95%;
  margin-top: 2%;
  padding-left: 3%;
}

.bottom-container i {
  font-size: 3rem;
  color: #EF959D;
}

footer {
  background-color: #E2C044;
  font-size: 0.4rem;
}

/*Animation*/
@keyframes arrival {
  0% {
    opacity: 0;
  }
}
