body{
    width: 100%;
    text-align: center;
}
/*Typography*/
h1, h2, h3 {font-family: "Montserrat";
    font-weight: 900;}

/*Nav*/
nav li{
    font-size: 1rem;
    opacity: 0.9;
}
.navbar-brand{
    font-size: 2rem;
}



/* hero */
#title{
    background-color:#ff4c68;
}
#hero{
    margin-top: -8% !important;
}
#hero buttons{
    margin-top: -5% !important;
}
#hero h1{
    font-style: italic;
    line-height: 1.5;
    z-index: 1;
    text-align: left;
    animation: 1s lineheight ease-in-out;
}

#hero h1 span{
    margin-top: -5%;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: wheat;
    text-decoration-skip-ink: none;
}

.phone{
    width: 50%;
    margin-left: 20%;
    transform: rotate(25deg);
    filter: drop-shadow(1px 1px 40px rgba(0, 0, 0, 0.466));
    position: absolute;
    z-index: 0;
}
#hero-cont{
    padding: 3%;
    width: 95%;
    z-index: 0;
}
/* features */
#features{
    position: relative;
    padding-left: 13%;
    width: 100%;
   background-color: white;
    margin-top: 0;
    z-index: 10;
    
}
#features i{
    color: #ec7f8f;
}

#features i:hover{
    animation: hoverColor 1s infinite;
}

#features p {
    color: gray;
}
/* testimonials */
#testimonials, #press{

    padding: 7% 7% 0 7%;
    background-color: wheat;
}
#testimonials {height:50vh;
}

#press{
    padding-bottom: 3%;
}

.press-img{
    width: 7%;
}
#testimonials h2{
    filter:drop-shadow(0px 0px 20px rgba(7, 7, 7, 0.24));
    font-size: 3rem;
}
.testimonial-picture{
    filter: saturate(1.3) invert(0.1) opacity(0.9);
    width: 3rem;
    margin: 10px;
}




/* call to action */
#cta{
    width: 100vw;
    background-color:#ff4c68;
    color: white;

}

#cta div {
    margin-left: 35% !important;
}
/*footer*/
footer p{
    color: rgb(156, 155, 155);
    font-size: 0.8rem;
}
/*animace*/
@keyframes lineheight {
    0% {line-height: 0;}
}
@keyframes hoverColor{
    50%{
        color:#ff4c68;
    }
    100%{
        color: #ec7f8f  
    }
}

/* media queries */
@media only screen and (max-width: 770px){
    .phone{
        margin-left: -60% 0 0 70%;
        transform: rotate(0deg);
        width: 30%;
    }
    
    #hero h1{
        font-size: 2.5rem;

    }
    #hero button{
      margin-left: 20%;
    }

}

@media only screen and (max-width:890px){
    .card{
        width: 100vw;
        display: block;
    }
}