@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,900&display=swap');


.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #A99F96;
}

h1 {
  margin: 30px;
  font-family: 'Kufam', cursive;
  text-shadow: 5px 0 #71677C;
  font-size: 8rem;
  color: #37123C;
}

p {
  font-size: 2rem;
  color: #37123C;
  font-family: 'Verdana', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'verdana', cursive;

}
